@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #ffffea;
  --color2: #a795a5;
  --color3: #7a959e;
  --color4: #414d5d;
  --color5: #36293f;
}


body {
  background-color: var(--color5);
  color: var(--color1);
  margin: none;
  overflow: auto;

}

::-webkit-scrollbar {
  display: none;
}

#main {
  height: 100vh;
}


.PopularMovies {
  margin-top: 18%;
  width: 100%;
  background-color: var(--color4);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  height: 300vh;
}

.PopularMovies h1 {
  font-size: 40px;
  text-align: left;
  margin-top: 5%;
  /* adjust as needed */
}

#PopularMovie {
  position: relative;
  border-radius: 30px;
  background-color: var(--color4);
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  color: var(--color1);
  overflow: hidden;
  position: relative;
}


.PopularShows {
  margin-top: -15%;
  margin-bottom: 40%;
  width: 100%;
  background-color: var(--color3);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  height: 150vh;
}

.PopularShows h1 {
  font-size: 40px;
  text-align: left;
  margin-top: 5%;
}

#PopularShow {
  position: relative;
  border-radius: 30px;
  background-color: var(--color3);
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  color: var(--color1);
  overflow: hidden;
  position: relative;
}

#Description {
  margin-bottom: 0%;
}


.WelcomeDiv {
  margin-top: 10%;
}

.flex-container {
  display: flex;
  align-items: baseline;
}

#nav-Movies {
  font-weight: bolder;
  font-size: larger;
}

#nav-Movies:hover {
  color: var(--color2);
}

#nav-TvShows {
  font-weight: bolder;
  font-size: larger;
}

#nav-TvShows:hover {
  color: var(--color2);
}

#searchBar {
  max-width: 0;
  opacity: 0;
  transition: max-width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 30px;
  background-color: var(--color2);
  color: var(--color1);
  font-weight: bold;
  text-align: center;
}

#searchBar.visible {
  max-width: 200px;
  opacity: 50%;
}


#searchBar::placeholder {
  text-align: center;
  color: var(--color1);
  font-weight: bold;
}




#searchToggle:checked+label+#searchBar {
  width: 200px;
  /* or whatever width you want */
  opacity: 1;
  color: var(--color1);

}

#searchToggle:checked+label {
  margin-right: -1.6rem;
  /* adjust as needed */
}


/* movies */
#movie {
  position: relative;
  border-radius: 30px;
  background-color: var(--color5);
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  color: var(--color1);
  overflow: hidden;
  position: relative;
}



#movie:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  outline: solid 2px var(--color4);
}


.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


@keyframes saturation {
  0% {
    filter: saturate(100%);
  }

  25% {
    filter: saturate(150%);

  }

  50% {
    filter: saturate(200%);
  }

  75% {
    filter: saturate(150%);
  }

  100% {
    filter: saturate(200%);
  }
}

.movie-container img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  top: 50%;
  left: 50%;
}

.movie-container:hover img {
  animation: saturation 5s infinite;
}

#movie p {
  margin-top: 10px;
}

.movie-container .hoverInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  background-color: rgba(65, 77, 93, 0.8);
  box-shadow: 0 0 3px 0 var(--color3);
  color: var(--color1);
  padding: 10px;
  border-radius: 10%;
}

.movie-container:hover .hoverInfo {
  visibility: visible;
  opacity: 1;
}

.movie-container:hover .hoverInfo p {
  opacity: 1;
}


/* shows */
#show {
  position: relative;
  border-radius: 30px;
  background-color: var(--color5);
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  color: var(--color1);
  overflow: hidden;
  position: relative;
}

#show:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  outline: solid 2px var(--color3);
}

.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.show-container img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  top: 50%;
  left: 50%;
}

.show-container:hover img {
  animation: saturation 5s infinite;
}

#show p {
  margin-top: 10px;
}

.show-container .hoverInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  background-color: rgba(122, 149, 158, 0.8);
  box-shadow: 0 0 3px 0 var(--color3);
  color: var(--color1);
  padding: 10px;
  border-radius: 10%;
}

.show-container:hover .hoverInfo {
  visibility: visible;
  opacity: 1;
}

.show-container:hover .hoverInfo p {
  opacity: 1;
}

/* indiividual movies page */
.MovieInfo {
  display: flex;
  align-items: center;
  /* Adjust as needed */
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 3rem;
}


.MovieInfo img {
  border-radius: 30px;
  margin: 1px;
  animation: saturation 5s infinite alternate;
  /* Add this line */
}

@keyframes saturation {
  0% {
    filter: saturate(1);
  }

  100% {
    filter: saturate(2);
  }
}

.MovieInfo h1 {
  font-size: 35px;
  margin-top: 0%;
  font-weight: bolder;
}

.MovieInfo #movie {
  outline: solid 2px var(--color4);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

#CoverContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
}

#MovieDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

#MovieDetails h1 {
  order: -1;
  font-size: 30px;
  font-weight: bolder;
  align-self: flex-start;
  margin-bottom: 20px;
}

#description {
  order: -1;
  background-color: rgba(65, 77, 93, 0.1);
  padding: 30px;
  border-radius: 30px;
  min-height: 150px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  outline: solid 2px var(--color4);
}

#otherDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
  flex-wrap: wrap;
  /* Add this line */
}

#otherDetails p {
  margin-right: 10%;
  font-weight: bold;
  margin-left: 20px;
  /* Add this line */
}

.tvshowInfo {
  display: flex;
  align-items: center;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 3rem;
}

.tvshowInfo img {
  border-radius: 30px;
  margin: 1px;
  animation: saturation 5s infinite alternate;
  /* Add this line */
}


.tvshowInfo #show {
  outline: solid 2px var(--color3);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

.tvshowInfo #CoverContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
}

#tvshowDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

#tvshowDetails h1 {
  order: -1;
  font-size: 30px;
  font-weight: bolder;
  align-self: flex-start;
  margin-bottom: 20px;
}

.tvshowDetails #description {
  background-color: rgba(65, 77, 93, 0.1);
  padding: 30px;
  border-radius: 30px;
  min-height: 150px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  outline: solid 2px var(--color4);
}

.tvshowDetails #otherDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
  flex-wrap: wrap;
}


#filter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#filer form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  align-items: center;
  ;
}


#filter select {
  font-weight: 900;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  /* Add padding */
  border-radius: 30px;
  color: var(--color1);
  text-align: center;
  background-color: rgba(59, 43, 70, 0.7);
  outline: solid 2px var(--color2);
  cursor: pointer;
  /* Change cursor to pointer */
  transition: all 2s ease;
}

#filter select:hover {
  background-color: rgba(59, 43, 70, 0.9);
  /* Add hover effect */
}

nav {
  align-items: baseline;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.search-container {
  display: grid;
  flex-direction: column;
  grid-template-rows: auto 1fr;
  gap: 10px;
}


#results-container {
  position: absolute;
  margin-top: 5vh;
  width: 15%;
  height: 15%;
  z-index: 100;
  border-radius: 10px;
}

.results-card {
  position: relative;
  background-color: #414d5d;
  border-radius: 10px;
  padding: 7px;
  height: 90px;
  /* Add this line */
  width: 240px;
  font-weight: bold;
  align-items: center;
  transition: all 0.3s ease;
  margin-bottom: 5px;
  margin-top: 10px;
}

#results-card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  outline: solid 2px var(--color1);
}

#results-card img {
  border-radius: 8px;
  transform: scale(1.05);
  /* Add this line */
}

#results-card a {
  margin-top: 10px;
  color: var(--color1);
}

.text-red {
  color: var(--color1);
  font-weight: bold;
}

#magglass:hover {
  color: var(--color2);

}

#userIcon:hover {
  color: var(--color2);
}

.text-red:hover {
  color: var(--color2);
}

.text-green {
  color: var(--color1);
  font-weight: bolder;
}

.text-green:hover {
  color: var(--color2);
}

.LoginButton {
  background-color: var(--color2);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  outline: solid 2px var(--color1);
  width: 100%;
}

.LoginButton:hover {
  background-color: var(--color4);
}

.text-black {
  color: black;
  font-weight: bold;
}

#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  font-weight: bold;
}


#reviews h1 {
  text-align: center;
  font-size: 25px;
}

#revheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.RevContent {
  padding-right: 6rem;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Add this line */
  align-items: center;
  /* Add this line */
  margin-top: 5%;
  width: 100%;
  font-weight: bold;
  background-color: rgba(65, 77, 93, 0.1);
  border-radius: 30px;
  min-height: 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  outline: solid 2px var(--color4);
}


#reviewind {
  background-color: var(--color6);
  padding: 20px;
  border-radius: 30px;
  min-height: 140px;
  width: 700px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  outline: solid 2px var(--color4);
}

#reloadrev {
  padding: 30px;
}

.small-font {
  font-size: 0.8em;
  /* Adjust as needed */
}

.AddReview {
  background-color: var(--color4);
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  outline: solid 2px var(--color1);
}

.AddReview:hover {
  background-color: var(--color3);
  outline: solid 2px var(--color5);
  color: var(--color1);
}

#subreview {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: var(--color5);
  padding: 20px;
  border-radius: 30px;
  min-height: 140px;
  max-width: 300px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  outline: solid 2px var(--color4);

}

form input[type="text"],
form input[type="password"] {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: var(--color5);
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-textarea {
  width: 100%;
  /* Full width */
  height: 150px;
  /* Set height */
  padding: 12px 20px;
  /* Padding */
  box-sizing: border-box;
  /* Allow padding and border to be included in total width and height */
  border: 2px solid #ccc;
  /* Grey border */
  border-radius: 4px;
  /* Rounded borders */
  background-color: var(--color1);
  /* Light grey background */
  resize: none;
  /* Disable resize */
  color: black;

  outline: solid 2px var(--color3);
}

.custom-input {
  width: 50px;
  /* Set width */
  padding: 5px;
  /* Padding */
  box-sizing: border-box;
  /* Allow padding and border to be included in total width */
  border: 1px solid #ccc;
  /* Grey border */
  border-radius: 4px;
  /* Rounded borders */
  background-color: var(--color1);
  /* Light grey background */
  color: var(--color5);
  outline: solid 2px var(--color3);
  text-align: center;
}


#submit {
  width: 100px;
  /* Set width */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--color2);
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  /* Change to block */
  font-size: 16px;
  margin: auto;
  /* Center the button */
  cursor: pointer;
  transition-duration: 0.4s;
}

#submit:hover {
  background-color: var(--color3);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: 500px;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--color1);
}

.close-button:hover {
  color: var(--color2);
}

.success-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color1);
  color: var(--color5);
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
}

#profile-info {
  width: 600px;
  height: 300px;
  margin: 20px;
  background-color: var(--color5);
  padding: 20px;
  border-radius: 10px;
  outline: solid 2px var(--color2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

#profile-info h2 {
  color: var(--color1);
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 500;
}

strong {
  color: var(--color1);
  font-size: 20px;
}

#reviews {
  justify-content: space-between;
}

#MyReviews {
  font-size: 20px;
}

#MyReviews:hover {
  color: var(--color2);
}