@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #ffffea;
  --color2: #a795a5;
  --color3: #7a959e;
  --color4: #424e5e;
  --color5: #3b2b46;
}


body {
  background-color: var(--color5);
  color: var(--color1);
  margin: auto;
  overflow: hidden;
}

#Welcome {
  margin-top: 15%;
}

#description {
  margin-top: 1%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}